#root {
  text-align: center;
}

.logo-container {
  margin-right: 1rem; 
  overflow: hidden;
}


.NavBar {
  display: flex;
  align-items: center;
  justify-content: start; 
}


.logo {
  height: 50px; 
}