#root {
  text-align: center;
}

.logo-container {
  margin-right: 1rem; 
  overflow: hidden;
}


.NavBar {
  display: flex;
  align-items: center;
  justify-content: start; 
  padding: 1rem;
}


.logo {
  height: 70px; 
}